<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel etudiant masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=idetudiant]:before {
		content: "{$label etudiant idetudiant}";
	}
	.bs-gridcell[data-field=matricule]:before {
		content: "{$label etudiant matricule}";
	}
	.bs-gridcell[data-field=noms]:before {
		content: "{$label etudiant noms}";
	}
	.bs-gridcell[data-field=cycle]:before {
		content: "{$label etudiant cycle}";
	}
	.bs-gridcell[data-field=niveau]:before {
		content: "{$label etudiant niveau}";
	}
	.bs-gridcell[data-field=datenais]:before {
		content: "{$label etudiant datenais}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$idetudiant_class}">{$label etudiant idetudiant}</th>
			<th class="{$matricule_class}">{$label etudiant matricule}</th>
			<th class="{$noms_class}">{$label etudiant noms}</th>
			<th class="{$cycle_class}">{$label etudiant cycle}</th>
			<th class="{$niveau_class}">{$label etudiant niveau}</th>
			<th class="{$datenais_class}">{$label etudiant datenais}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$idetudiant_class} bs-gridcell" data-field=idetudiant>{$idetudiant_mastervalue}</td>
			<td class="{$matricule_class} bs-gridcell" data-field=matricule>{$matricule_mastervalue}</td>
			<td class="{$noms_class} bs-gridcell" data-field=noms>{$noms_mastervalue}</td>
			<td class="{$cycle_class} bs-gridcell" data-field=cycle>{$cycle_mastervalue}</td>
			<td class="{$niveau_class} bs-gridcell" data-field=niveau>{$niveau_mastervalue}</td>
			<td class="{$datenais_class} bs-gridcell" data-field=datenais>{$datenais_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>