<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel etudiant search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN idetudiant_fieldblock}		
	<div class="container {$fielddispclass_idetudiant}" data-fieldname="idetudiant">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant idetudiant}
			</div>
			<div class="col-md-2" >
				{$searchtype_idetudiant}
			</div>
			<div class="col-md-4" >
				{$idetudiant_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idetudiant_editcontrol1}
			</div>
		</div>
	</div>
{END idetudiant_fieldblock}
	{BEGIN matricule_fieldblock}		
	<div class="container {$fielddispclass_matricule}" data-fieldname="matricule">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant matricule}
			</div>
			<div class="col-md-2" >
				{$searchtype_matricule}
			</div>
			<div class="col-md-4" >
				{$matricule_editcontrol}
			</div>
			<div class="col-md-4" >
				{$matricule_editcontrol1}
			</div>
		</div>
	</div>
{END matricule_fieldblock}
	{BEGIN noms_fieldblock}		
	<div class="container {$fielddispclass_noms}" data-fieldname="noms">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant noms}
			</div>
			<div class="col-md-2" >
				{$searchtype_noms}
			</div>
			<div class="col-md-4" >
				{$noms_editcontrol}
			</div>
			<div class="col-md-4" >
				{$noms_editcontrol1}
			</div>
		</div>
	</div>
{END noms_fieldblock}
	{BEGIN cycle_fieldblock}		
	<div class="container {$fielddispclass_cycle}" data-fieldname="cycle">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant cycle}
			</div>
			<div class="col-md-2" >
				{$searchtype_cycle}
			</div>
			<div class="col-md-4" >
				{$cycle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cycle_editcontrol1}
			</div>
		</div>
	</div>
{END cycle_fieldblock}
	{BEGIN niveau_fieldblock}		
	<div class="container {$fielddispclass_niveau}" data-fieldname="niveau">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant niveau}
			</div>
			<div class="col-md-2" >
				{$searchtype_niveau}
			</div>
			<div class="col-md-4" >
				{$niveau_editcontrol}
			</div>
			<div class="col-md-4" >
				{$niveau_editcontrol1}
			</div>
		</div>
	</div>
{END niveau_fieldblock}
	{BEGIN datenais_fieldblock}		
	<div class="container {$fielddispclass_datenais}" data-fieldname="datenais">
		<div class="form-group">
			<div class="col-md-2">
				{$label etudiant datenais}
			</div>
			<div class="col-md-2" >
				{$searchtype_datenais}
			</div>
			<div class="col-md-4" >
				{$datenais_editcontrol}
			</div>
			<div class="col-md-4" >
				{$datenais_editcontrol1}
			</div>
		</div>
	</div>
{END datenais_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Rechercher</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Remettre</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Retour à la liste</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
